Repository k-kbk/terraform-practice: changes, and which Atlantis projects are due for each by the changed paths.
All: global, dev, prod

global:
  dir: global

dev:
  dir: envs/dev

prod:
  dir: envs/prod
  apply_requirements:
  - approved

chore: fix option
  atlantis.yaml
Due: none

test: hello atlantis (#1)
  atlantis.yaml
Due: none

feat: add terraform ci workflow
  .github/workflows/terraform-ci.yaml
Due: none

test: ci test
  envs/dev/main.tf
  modules/simple_bucket/main.tf
  modules/simple_bucket/variables.tf
Due: dev

test: ci test
  modules/simple_bucket/main.tf
Due: none

test: ci test
  .github/workflows/terraform-ci.yaml
Due: none

fix: fix option
  global/main.tf
Due: global

fix: fix issues
  envs/dev/main.tf
  global/main.tf
  global/network.tf
  modules/simple_bucket/main.tf
Due: global, dev

fix: fix issues
  global/main.tf
  modules/simple_bucket/main.tf
Due: global

fix: fix issues
  global/main.tf
  global/variables.tf
Due: global

fix: fix issues
  envs/dev/versions.tf
  envs/prod/versions.tf
  global/versions.tf
  modules/simple_bucket/versions.tf
Due: global, dev, prod

fix: fix issues
  .atlantisignore
  atlantis.yaml
Due: none

test: ci test
  envs/dev/main.tf
Due: dev

test: remove test bucket
  envs/dev/main.tf
Due: dev

feat: add terraform ci workflow (#2)
  .atlantisignore
  .github/workflows/terraform-ci.yaml
  atlantis.yaml
  envs/dev/versions.tf
  envs/prod/versions.tf
  global/main.tf
  global/network.tf
  global/variables.tf
  global/versions.tf
  modules/simple_bucket/main.tf
  modules/simple_bucket/variables.tf
  modules/simple_bucket/versions.tf
Due: global, dev, prod

chore: remove file
  .atlantisignore
Due: none

chore: fix typo
  global/variables.tf
Due: global

feat: create ecs nginx demo
  envs/dev/alb.tf
  envs/dev/ecs.tf
  envs/dev/main.tf
  envs/dev/network.tf
  envs/dev/outputs.tf
  envs/dev/security.tf
  envs/dev/variables.tf
Due: dev

fix: fix issues
  envs/dev/alb.tf
Due: dev

fix: fix issue
  envs/dev/network.tf
Due: dev

feat: create ecs nginx demo (#3)
  envs/dev/alb.tf
  envs/dev/ecs.tf
  envs/dev/main.tf
  envs/dev/network.tf
  envs/dev/outputs.tf
  envs/dev/security.tf
  envs/dev/variables.tf
Due: dev

docs: add terraform-docs
  envs/dev/.terraform-docs.yaml
  envs/dev/README.md
Due: none

docs: add terraform-docs
  global/.terraform-docs.yaml
  global/README.md
Due: none

feat: create ec2 module
  modules/ec2_instance/compute.tf
  modules/ec2_instance/data.tf
  modules/ec2_instance/locals.tf
  modules/ec2_instance/network.tf
  modules/ec2_instance/outputs.tf
  modules/ec2_instance/security.tf
  modules/ec2_instance/ssh.tf
  modules/ec2_instance/variables.tf
  modules/ec2_instance/versions.tf
Due: none

feat: create ec2 dem
  envs/prod/.terraform-docs.yaml
  envs/prod/README.md
  envs/prod/main.tf
  envs/prod/outputs.tf
  envs/prod/terraform.tfvars.example
  envs/prod/variables.tf
Due: prod

fix: fix issues
  atlantis.yaml
  envs/prod/.terraform.lock.hcl
  envs/prod/README.md
  envs/prod/main.tf
  envs/prod/outputs.tf
  envs/prod/terraform.tfvars.example
  envs/prod/variables.tf
  modules/ec2_instance/compute.tf
  modules/ec2_instance/outputs.tf
  modules/ec2_instance/ssh.tf
  modules/ec2_instance/variables.tf
  modules/ec2_instance/versions.tf
Due: prod

fix: fix issues
  modules/ec2_instance/security.tf
Due: none

fix: fix issues
  modules/ec2_instance/variables.tf
Due: none

fix: fix issues
  envs/prod/main.tf
  envs/prod/variables.tf
  modules/ec2_instance/variables.tf
Due: prod

feat: create ec2 module (#4)
  atlantis.yaml
  envs/prod/.terraform-docs.yaml
  envs/prod/.terraform.lock.hcl
  envs/prod/README.md
  envs/prod/main.tf
  envs/prod/outputs.tf
  envs/prod/variables.tf
  modules/ec2_instance/compute.tf
  modules/ec2_instance/data.tf
  modules/ec2_instance/locals.tf
  modules/ec2_instance/network.tf
  modules/ec2_instance/outputs.tf
  modules/ec2_instance/security.tf
  modules/ec2_instance/ssh.tf
  modules/ec2_instance/variables.tf
  modules/ec2_instance/versions.tf
Due: prod

docs: update terraform-docs
  envs/prod/README.md
Due: none

Path conditions:
  global: any of: global/*.tf, global/*.tfvars
  dev: any of: envs/dev/*.tf, envs/dev/*.tfvars
  prod: any of: envs/prod/*.tf, envs/prod/*.tfvars
